@import "tailwindcss";

@tailwind utilities;

@font-face {
    font-family: 'calibriteritree';
    src: url('../../global/resources/calibri-teritree.woff2') format('woff2'),
    url('../../global/resources/calibri-teritree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .bg-pixelated {
        image-rendering: pixelated;
    }
}

@theme {
    --color-teritree-header-forest: #A8CA58;
    --color-teritree-text-forest: #35401C;
}

:root {
    --blur-amount: 10px
}