@font-face {
    font-family: 'calibriteritree';
    src: url('calibri-teritree.woff2') format('woff2'),
    url('calibri-teritree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%; /* Set canvas width to 100% of its container */
    max-width: 100%; /* Ensure the canvas doesn't exceed its container's width */
    display: block; /* Remove any default inline spacing */
    image-rendering: pixelated;
    position: relative;
}

.first-gui-text {
    margin: 0.5%;
    font-size: 16pt;
}

.location-element {
    margin: 0;
    font-size: 16pt;
}

.gui-header {
    font-size: 28pt;
    margin-top: 7%;
    margin-bottom: 0;
}

.first-leaderboard-item {
    margin-top: 7.5%;
    margin-bottom: 0;
    font-size: 16pt;
    font-weight: bold;
}

.leaderboard-item {
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 16pt;
    font-weight: bold;
}

.leaderboard-stat {
    font-size: 13pt;
    margin: 0 0 0 6%;
    color: #aaaaaa;
}

.location {
    position: absolute;
    margin: 1%;
    font-family: 'calibriteritree', 'Arial Hebrew', serif;
    font-size: 16pt;
    padding: 0.025% 1.75%;
    color: white;
    background-color: rgb(0, 32, 12, 0.9);
    z-index: 1;
    width: 17.5%;
    top: 47.4%;
    height: 18.3%;
    right: 0;
}

.location-outline {
    position: absolute;
    margin: 1%;
    font-family: 'calibriteritree', 'Arial Hebrew', serif;
    padding: 0.025% 1.75%;
    border: 4px solid white;
    z-index: 1;
    width: calc(17.5% - 16px);
    height: calc(18.3% - 16px);
    right: 4px;
    top: calc(47.4% + 4px);
}

.leaderboard {
    position: absolute;
    margin: 1%;
    font-family: 'calibriteritree', 'Arial Hebrew', serif;
    font-size: 16pt;
    padding: 0.025% 1.75%;
    color: white;
    background-color: rgb(0, 32, 12, 0.9);
    z-index: 1;
    width: 17.5%;
    height: 45%;
    right: 0;
}

.leaderboard-outline {
    position: absolute;
    margin: 1%;
    font-family: 'calibriteritree', 'Arial Hebrew', serif;
    padding: 0.025% 1.75%;
    border: 4px solid white;
    z-index: 1;
    width: calc(17.5% - 16px);
    height: calc(45% - 16px);
    right: 4px;
    top: 4px;
}

.colour-name {
    font-family: 'calibriteritree', 'Arial Hebrew', serif;
    font-size: 14pt;
    width: 10vw; /* Set the width of the cropped area */
    height: 2vw; /* Set the height of the cropped area */
    position: absolute;
    bottom: 17.5%;
    left: 50%;
    opacity: 0;
    background-color: rgba(0, 32, 12, 0.4);
    color: #ffffff;
    transform: translateX(-50%);
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
    z-index: 1;
    transition: opacity cubic-bezier(0.1, 0.75, 0.25, 0.1) 200ms
}

.colour-indicator {
    width: 5vw; /* Set the width of the cropped area */
    height: 5vw; /* Set the height of the cropped area */
    position: absolute;
    image-rendering: pixelated;
    bottom: 3.5%;
    left: 50%;
    margin-bottom: 2vw;
    transform: translateX(-50%);
    background-color: rgba(0, 32, 12, 0.9);
    z-index: 1;
}

.colour-indicator-outline {
    width: calc(5vw - 16px); /* Set the width of the cropped area */
    height: calc(5vw - 16px); /* Set the height of the cropped area */
    background-image: url('sprites.png'); /* Replace 'path/to/your/image.jpg' with your image path */
    background-size: calc((5vw - 16px) * 20) calc((5vw - 16px) * 20); /* Set background size to 1600% of the sprite sheet (20x20 sprites) */
    background-repeat: no-repeat; /* Prevent repeating the sprite */
    background-position: calc((5vw - 16px) * 1) calc((5vw - 16px) * 1); /* Position the desired sprite using negative values */
    position: absolute;
    image-rendering: pixelated;
    bottom: calc(4px + 3.5%);
    left: 50%;
    margin-bottom: 2vw;
    transform: translateX(-50%);
    border: 4px solid white;
    z-index: 1;
}

.ui {
    display: none;
}